html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: blue;
}

#suggestions {
  background-color: white;
  width: 60%;
  margin: 0 auto;
  border-radius: 7px;
}

.country-name {
  width: 35%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  background-color: lightgrey;
  border-radius: 10px 10px 0 0;
}

#query {
  font-size: 24px;
  border-radius: 10px;
  border: 1px solid blue;
  padding-left: 10px;
  
}

.country-info {
  width: 35%;
  margin: 0 auto;
  padding: 10px;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

form {
  width: 25%;
  margin: 100px auto;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

td {
  padding: 10px;
  font-size: 20px;
}

li {
  list-style: none;
}

img {
  width: 40%;
}
